html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

#container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  left: -10px;
  background-image: -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-repeating-linear-gradient(center left, transparent, transparent 20px, rgba(0, 0, 0, 0.15) 20px, rgba(0, 0, 0, 0.15) 80px);
  -webkit-background-size: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5em;
  font-size: 1.4em; }
  #container:after {
    content: ".";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both; }

span {
  background: #444444;
  display: block;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; }

p {
  float: left;
  width: 780px;
  margin-left: 100px;
  margin-right: 80px;
  *display: inline;
  text-align: justify; }

pre {
  float: left;
  width: 780px;
  margin-left: 100px;
  margin-right: 80px;
  *display: inline; }

h3 {
  float: left;
  width: 940px;
  margin-left: 100px;
  margin-right: 80px;
  *display: inline;
  text-align: center; }

h1 {
  float: left;
  width: 940px;
  margin-left: 20px;
  *display: inline;
  position: relative;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  background: #444444;
  color: white;
  margin-top: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

h2 {
  float: left;
  width: 940px;
  margin-left: 20px;
  *display: inline;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background: white; }

#span-1 {
  float: left;
  width: 60px;
  margin-left: 20px;
  *display: inline; }

#span-11 {
  float: left;
  width: 860px;
  margin-left: 20px;
  *display: inline; }

#span-2 {
  float: left;
  width: 140px;
  margin-left: 20px;
  *display: inline; }

#span-10 {
  float: left;
  width: 780px;
  margin-left: 20px;
  *display: inline; }

#span-3 {
  float: left;
  width: 220px;
  margin-left: 20px;
  *display: inline; }

#span-9 {
  float: left;
  width: 700px;
  margin-left: 20px;
  *display: inline; }

#span-4 {
  float: left;
  width: 300px;
  margin-left: 20px;
  *display: inline; }

#span-8 {
  float: left;
  width: 620px;
  margin-left: 20px;
  *display: inline; }

#span-5 {
  float: left;
  width: 380px;
  margin-left: 20px;
  *display: inline; }

#span-7 {
  float: left;
  width: 540px;
  margin-left: 20px;
  *display: inline; }

#span-6, #span-6-2 {
  float: left;
  width: 460px;
  margin-left: 20px;
  *display: inline; }

#append-1 {
  float: left;
  width: 460px;
  margin-left: 20px;
  margin-right: 80px;
  *display: inline; }

#append-1-2 {
  float: left;
  width: 380px;
  margin-left: 20px;
  *display: inline; }

#append-2 {
  float: left;
  width: 460px;
  margin-left: 20px;
  margin-right: 160px;
  *display: inline; }

#append-2-2 {
  float: left;
  width: 300px;
  margin-left: 20px;
  *display: inline; }

#append-3 {
  float: left;
  width: 460px;
  margin-left: 20px;
  margin-right: 240px;
  *display: inline; }

#append-3-2 {
  float: left;
  width: 220px;
  margin-left: 20px;
  *display: inline; }

#prepend-1-2, #prepend-2-2, #prepend-3-2 {
  float: left;
  width: 460px;
  margin-left: 20px;
  *display: inline; }

#prepend-1 {
  float: left;
  width: 380px;
  margin-left: 100px;
  *display: inline; }

#prepend-2 {
  float: left;
  width: 300px;
  margin-left: 180px;
  *display: inline; }

#prepend-3 {
  float: left;
  width: 220px;
  margin-left: 260px;
  *display: inline; }

#shift-1 {
  position: relative;
  left: 720px;
  float: left;
  width: 220px;
  margin-left: 20px;
  *display: inline; }

#shift-1-2 {
  position: relative;
  left: -240px;
  float: left;
  width: 700px;
  margin-left: 20px;
  *display: inline; }

#shift-2 {
  position: relative;
  left: 640px;
  float: left;
  width: 300px;
  margin-left: 20px;
  *display: inline; }

#shift-2-2 {
  position: relative;
  left: -320px;
  float: left;
  width: 620px;
  margin-left: 20px;
  *display: inline; }

#shift-3 {
  position: relative;
  left: 560px;
  float: left;
  width: 380px;
  margin-left: 20px;
  *display: inline; }

#shift-3-2 {
  position: relative;
  left: -400px;
  float: left;
  width: 540px;
  margin-left: 20px;
  *display: inline; }

#outset-1 {
  float: left;
  width: 460px;
  margin-left: 10px;
  margin-right: -10px;
  *display: inline;
  border: 10px solid #888888; }

#outset-3, #outset-4 {
  float: left;
  width: 460px;
  margin-left: 11px;
  margin-right: -9px;
  *display: inline;
  border: 9px solid #888888; }

#outset-2, #inset-2 {
  float: left;
  width: 460px;
  margin-left: 20px;
  *display: inline;
  margin-bottom: 25px; }

#inset-1 {
  float: left;
  width: 440px;
  margin-left: 20px;
  *display: inline;
  border: 10px solid #888888; }

#inset-3, #inset-4 {
  float: left;
  width: 442px;
  margin-left: 20px;
  *display: inline;
  border: 9px solid #888888; }

#padding-1 {
  float: left;
  width: 380px;
  margin-left: 20px;
  padding-right: 80px;
  *display: inline; }

#padding-3 {
  float: left;
  width: 220px;
  margin-left: 20px;
  padding-left: 240px;
  *display: inline; }

#padding-2, #padding-4 {
  float: left;
  width: 460px;
  margin-left: 20px;
  *display: inline; }

#pb-1 {
  float: left;
  width: 380px;
  margin-left: 15px;
  margin-right: -5px;
  padding-right: 160px;
  *display: inline;
  border: 5px solid #888888; }

#pb-2 {
  float: left;
  width: 380px;
  margin-left: 20px;
  *display: inline;
  margin-bottom: 10px; }

#pb-3 {
  float: left;
  width: 535px;
  margin-left: 20px;
  padding-right: 155px;
  *display: inline;
  border: 5px solid #888888; }

#pb-4 {
  float: left;
  width: 220px;
  margin-left: 20px;
  *display: inline;
  margin-bottom: 10px; }
